body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff; /* White background */
    padding-top: 20px;
    border-right: 1px solid #ddd; /* Optional: adds a subtle border */
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
}

.sidenav ul li {
    padding: 8px 16px;
    text-align: left;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.sidenav ul li a {
    color: #000000; /* Black text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Aligns with the arrow */
    font-weight: normal; /* Default weight */
}

.sidenav ul li a:hover {
    font-weight: bold; /* Bold on hover */
}

/* Active parent item styles */
.sidenav ul li.active > a {
    color: #007BFF; /* Change to desired active font color */
    font-weight: bold; /* Optional: make text bold */
}

.sidenav ul li.active .arrow {
    transform: rotate(180deg); /* Rotate the arrow upwards when active */
}

.sidenav ul li ul.child {
    display: none;
    padding-left: 12px;
}

.sidenav ul li ul.child li {
    padding: 6px 16px;
}

.sidenav ul li ul.child li a {
    color: #000000; /* Black text for child items */
    text-decoration: none; /* Remove underline */
}

.sidenav ul li ul.child li a:hover {
    font-weight: bold; /* Bold on hover */
}

.icon-angle-down {
    position: absolute;
    right: 16px;
    transform: translateY(0%);
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-angle-down.open {
    transform: rotate(180deg); /* Rotate the arrow upwards */
}

.icon-angle-down svg{
    height: 15px;
    width:15px;
}
.non-clickable {
    color: #666; /* Gray text for non-clickable items */
}
